<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 카카오맵 사용을 위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치정보제공에대한 퍼미션도 필요하다 정확도가 높은 FINE, 또한 네트워크 퍼미션도 사용해야 한다.(COARSE) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 급여명세서 이미지 저장을 위한 작업 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectGroupwareApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".drawer.attendance.AttendanceListActivity"
            android:exported="false" />
        <activity
            android:name=".main.tab2.chatting.ChattingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.tab1.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.tab3.IdCardActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.approval.ApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.attendance.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".drawer.SalaryActivity"
            android:exported="false" />
        <activity
            android:name=".main.tab3.Tab3Fragment"
            android:exported="false" />
        <activity
            android:name=".main.tab2.Tab2Fragment"
            android:exported="false" />
        <activity
            android:name=".main.tab1.Tab1Fragment"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".intro.SplashActicity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="08c31f5d5e4b7569642d4feb46ed251d" />
    </application>

</manifest>